.navigation {
  display: flex;
  /* justify-content: space-between; */
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
}
